.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/examples/finefoods.txt
vignettes/extras/text_analysis_cache
vignettes/extras/Classification_cache
vignettes/extras/classification_cache
vignettes/getting_started_cache
