.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/examples/finefoods.txt
vignettes/extras/text_analysis_cache
vignettes/getting_started_cache
vignettes/tune_cache
vignettes/extras/svm_classification_cache
vignettes/articles/Classification_cache/*
tests/testthat/Rplots.pdf
docs
revdep
